<div class="cart-show">
  <div class="cart-title">cart</div>
  <div class="cart-all-container">
    <% current_user.carts.each do |cart| %>
      <div class="cart-container">
        <div class="cart-description">
          <p><%= cart.item.description %></p>
          <%= link_to cart.item do %>
            <div class="read-more">
              <p>read more...</p>
            </div>
          <% end %>
        
        </div>
        <div class="cart-image">
        <% if !cart.item.item_image.blank? %>
          <%= link_to cart.item do %>
            <%= image_tag cart.item.item_image.small.url %>
          <% end %>
        <% else %>
          <p>no image</p>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% @array = []%>
<% @sum = 0 %>
<p class="total-price">
Total: 
  <% current_user.carts.each do |cart| %>
    <% @array << cart.item.cost if cart.item.cost != nil %>
  <% end %>
  <% @array.each { |a| @sum+=a } %>
  $<%= @sum %>
</p>


