<h1>Users</h1>
<% @users.each do |user| %>
  <% if !user.user_image.blank? %>
    <%= link_to user do %>
      <%= image_tag user.user_image.url %>
    <% end %>
  <% else %>
    <%= link_to user do %>
      <div class="no-user-image">
        <p>This user has not uploaded an image</p>
      </div>
    <% end %>
  <% end %>

  <div class="full-name">
    <%= user.full_name %>
  </div>

  <div class="email">
    <%= user.email %>
  </div>

  <div class="username">
    <%= user.username %>
  </div>

  <%= user.created_at.strftime("%d %b. %Y") %>

<% end %>
