<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="new-box">
  <div class="field">
    <%= f.text_field :name, placeholder: "Armor Name", class: "make-armor-name" %>
  </div>

  <div class="field">
    <%= f.text_area :description, placeholder: "Armor Description", class: "make-armor-description" %>
  </div>

  <div class="field">
     <%= f.file_field :item_image, class: "make-armor-image" %>
  </div>

  <div class="field">
     <%= f.number_field :cost, :step => 'any', placeholder: "Armor Price", class: "make-armor-cost" %>
  </div>

  <div class="field armor-category">
   <select class="js-example-basic-multiple" multiple="multiple" name="item[category_ids][]" id="category_id">
     <% Category.all.each do |x| %>
       <option value="<%= x.id %>">
         <%= x.name %>
       </option>
     <% end %>
   </select>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>