<!DOCTYPE html>
<html>
  <head>
    <title>
      Arkea | 
<% current_uri = request.env['PATH_INFO'] %>
<% if current_uri == categories_path %>
  categories
<% elsif current_uri == static_pages_home_path %>
  welcome
<% elsif current_uri == static_pages_cart_path %>
  cart
<% elsif current_uri == new_user_session_path %>
  sign in
<% elsif current_uri == new_user_registration_path %>
  sign up
<% elsif current_uri == edit_user_registration_path %>
  edit account
<% elsif current_uri == items_path %>
  armor
<% elsif current_uri == new_item_path %>
  sell armor
<% elsif current_uri == carts_path %>
  cart
<% elsif current_uri == root_path %>
  welcome
<% elsif current_uri == users_path %>
  users
<% else %>

<% end %>
</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- montserrat alternates -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat+Alternates:700,400' rel='stylesheet' type='text/css'>
    <!-- montserrat -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>

    <header>
      <nav>
      <a href='/'><h1 class="title">Arkea</h1></a>

        <div class="hamburger">&#9776;</div>

        <div class="menu">
          <%= render "layouts/links" %>
        </div>
        <div class="links">

          <%= render "layouts/links" %>

        </div>
      </nav>
    </header>

    <% if notice %>
      <div class="notice">
        <%= notice %>
        <div class="exit">
          x
        </div>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert">
        <%= alert %>
        <div class="exit">
          x
        </div>
      </div>
    <% end %>

    <%= yield %>
    
  </body>
</html>
